.comp-cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #961778;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    
}

.logo {
    display: flex;
    right: 2%;
    position: absolute;
    top: -4.8%;
    color: #fff;
    width: 120px; 
    margin-bottom: -50px; 
    
  }

  .nm2 {
    display: flex;
    right: 45%;
    position: absolute;
    top: 1.5%;
    color: #fff;
    width: 120px; 
    margin-bottom: -50px; 
    
  }